
name: armTemplateDeployment
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  armDeploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy Azure Resource Manager (ARM) Template
        uses: Azure/arm-deploy@v1
        with:
          scope: subscription
          subscriptionId: cf356559-447f-4ef5-a596-5843ea2a66de
          region: East US
          template: ./arm-templates/resourcegroup.json
          parameters:
            location="East US"
            resourceGroupName=rg-githubactions
          deploymentName: rg-githubactions
      
      - name: Deploy Storage Account
        id: storageAccountDeploy
        uses: Azure/arm-deploy@v1
        with:
          scope: resourcegroup
          resourcegroupName: rg-githubactions
          subscriptionId: cf356559-447f-4ef5-a596-5843ea2a66de
          template: ./arm-templates/storageaccount.json
          parameters: 
            sku=Standard_LRS
            storageAccountName=globostnkg002
            location="East US"

          deploymentMod: incremental

      - name: Deploy virtual Machine
        uses: Azure/arm-deploy@v1
        with:
          scope: resourcegroup
          resourcegroupName: rg-githubactions
          subscriptionId: cf356559-447f-4ef5-a596-5843ea2a66de
          template: ./arm-templates/virtualmachine.json
          parameters: 
            adminPassword="kafka-demo-123!"

          deploymentMod: incremental

      